{%load static%}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - a better ol (numbered list with circle outline)</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{%static 'css/brokers.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


</head>
<body>
<!-- partial:index.partial.html -->
<div class="inner">
    <div class="same">
        <strong id="head">Intermediaters List</strong>
       <div class="btns">
            <button style="text-decoration: none;" class="btn"data-toggle="modal" data-target="#exampleModal">Search</button>
           
           {%if request.user.is_superuser%}
            <a href="{%url 'adhome'%}" class="abtn"><span class="material-symbols-outlined " style="margin-top: 2px;">
                home
                </span> Home</a>
            {%else%}
            <a href="{%url 'Bhome'%}" class="abtn"><span class="material-symbols-outlined " style="margin-top: 2px;">
                home
                </span> Home</a>
            {%endif%}
       </div>
        
    </div>
    <ol class="alternating-colors">
        {%for i in Brokerdet %}
        {%if i.status%}
        
        <li class="text-capitalize">
            <strong style="text-transform:capitalize; ">{{i.Bname}}</strong>
            <p style="text-transform:capitalize; "><span style="color: brown;">place </span>: {{i.Bplace}}</p>
            <p style="text-transform:capitalize;"><span style="color: brown;">district : </span>{{i.Bdistrict}}</p>
            <p style="text-transform:capitalize;"><span style="color: brown;">phone :</span> {{i.Bphone}}</p>
            <p style="text-transform:capitalize;"><span style="color: brown;">age :</span> {{i.Bage}}</p>
            {%if request.user.is_superuser%}
            <p style="margin-top: 24px;"> <a href="{% url 'delbro' i.id %}" class="btn">Delete</a></p>
            <p style="margin-top: 24px;"> <a href="{% url 'editbro' i.id %}" class="btn" style="background-color: aqua;">Edit</a></p>

            {%endif%}
        </li>
        {%endif%}
        {%endfor%}
     
    </ol>
    <!-- partial -->
      
</div>



</body>
</html>
