{%extends 'navbar.html'%}
{% load static%}
{%block one%}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Card Layout with CSS Grid</title>
    <link rel="stylesheet" href="{% static 'css/prodel.css'%}" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{%endblock one%}
{%block middle%}
<div class=" h-100 " style="width:70px;"></div>
{%endblock middle%}
{%block second%}
<div class="row container mx-auto  ">
<main>
      <section class="cards " >
     
      {%for i in Property%}
        <div class="card  border rounded border-light shadow bg-dark">
          <div class="card__image-container">
            <img src="{{i.img.url}}"
            />
          </div>
          <div class="card__content">
            <p class="card__title text--medium text-danger ">
            {{i.district}}
            
            </p>
            <div class="card__info">
              <p class="text--medium font-weight-bold">{{i.cent}} Cent</p>
              <br>
              <a class="card__price text--medium text-decoration-none  " href="{%url 'editpro' i.id %}">
              Edit Property
              </a>
              
            </div>
            <div class="d-flex flex-row-reverse mt-2 ">
              <a class="card__price adn  text--medium text-decoration-none " href="{%url 'deletepro' i.id %}" onclick="return confirm('are you sure ?')">
                Delete Property
                </a>
            </div>
          </div>

        </div>
        {%endfor%}
      
      </section>
    </main>
  </div>
  
{%endblock second%}